@import "tailwindcss";

@font-face {
  font-family: 'Gilroy';
  src: url('../assets/fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Urbanist';
  src: url('../assets/fonts/Urbanist-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Urbanist';
  src: url('../assets/fonts/Urbanist-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-gilroy: 'Gilroy', 'Urbanist', system-ui, sans-serif;
  --font-urbanist: 'Urbanist', system-ui, sans-serif;

  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

@theme {
  --color-premier-red: #ed1d25;
  --color-premier-black: #010205;
}

@layer base {
  body {
   font-family: 'Urbanist', system-ui, sans-serif;
  }
}

